
/* CSS Document */

/* font*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/** general **/
body {
font-family: 'Poppins', sans-serif;
font-size: 13px;
line-height: 1.8em;
font-style: normal;
font-weight: normal;
text-align: left;
overflow-x:hidden;
color:#606060;
background:#fff;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body.black { background:#111; }
h1{ font-size:30pt; }
h2{ font-size:22pt; }
h3{ font-size:20pt; }
h4{ font-size:18pt; }
h5{ font-size:14pt; }
h6{ font-size:12pt; }
p{ font-size:13px;}

a, a:visited, a:hover, a:active , a:link{ 
color: inherit !important;
text-decoration:none !important;
outline: 0;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease; 
}

.scroll-link {
    display: block;
  text-decoration:none;
}

/* space */
    .space-single{
  width:100%;
  height:30px;
  display:block;
  clear:both;
  }
  
  .space-double{
  width:100%;
  height:60px;
  display:block;
  clear:both;
  }
  
  .space-half{
  width:100%;
  height:15px;
  display:block;
  clear:both;
  }
  
  hr {
  display: block;
  clear: both;
  border-top: solid 1px #ddd;
  margin: 40px 0 40px 0;
  }
  
.center{ text-align:center; margin:0 auto; }
.left{ text-align:left; float:left; line-height:inherit; }
.right{ text-align:right; float:right; line-height:inherit; }
.color{ color:#f7d204;}
.white{ color:#fff;}

.min-left{margin-left:-15px;}
.min-right{margin-right:-15px;}

/* button*/
button{
margin: 0;
padding: 0;
border: 0;
font: inherit;
text-decoration: none;
list-style: none;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
button:hover{ 
border: none;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.btn-home {
display: inline-block;
width: 198px;
height: 40px;
font-size:10pt;
font-weight:600;
letter-spacing:1pt;
font-style:normal;
text-align:center;
line-height:38px;
color:#060606;
background:#f7d204;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
outline: none;
text-shadow:none;
margin: 5px auto;
margin-left:0px;
padding: 0;
cursor:pointer;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.btn-content {
display: inline-block;
width:auto;
height: 40px;
font-size:10pt;
font-weight:600;
letter-spacing:1pt;
font-style:normal;
text-align:center;
line-height:40px;
color:#060606!important;
background:#f7d204;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
outline: none;
text-shadow:none;
margin-left:0px;
padding: 0 30px 0 30px;
cursor:pointer;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.btn-home:hover{
background:#fff;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.btn-content:hover{
background:#efefef;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

/* devider */
.devider-widget {display:block; border-bottom: 2px solid #e1e1e1; margin-bottom:30px; width:60px; text-align:left;}
.devider-sub{ font-size:18pt; font-weight:500; text-align:center;}
.devider-heading{ font-size:36pt; font-weight:700; font-family: 'Dancing Script', cursive; text-align:center; margin-top:-7rem;}
.devider-heading-left{ display:block; border-bottom: 1px solid #f7d204;  margin-top:30px; margin-bottom:30px; width:120px; text-align:left;}
.devider-heading-center{ display:block; border-bottom: 1px solid #f7d204; margin:0 auto;  margin-top:30px; margin-bottom:30px; width:120px; text-align:center;}
.devider-heading-1{ font-size:24pt; font-weight:500; text-align:center; color:#101010;}
.devider-heading-white{ font-size:24pt; font-weight:500; text-align:center; color:#fff;}
.devider-img{ margin:20px auto; margin-bottom:30px;}
.devider-img img{display : block;margin : auto; }

/* section */
section{padding:160px 0 160px 0;}
.no-bottom {padding-bottom: 0 !important;}
.no-top {padding-top: 0 !important;}
.no-padding,section.no-padding{
padding:0;
}
.p-30{ padding:30px;}
.p-60{ padding:60px;}
.p-90{ padding:90px!important;}
.p-full{ padding:300px!important;}
.sp-padding{
  padding:60px 0 60px 0;
  overflow:hidden;
  overflow-x:hidden;
}

/* no select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* wrapper */
.content-wrapper{ overflow-x:hidden; }

.v-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.wrap { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.no-gutter [class*='col-']:not(:first-child), .no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.row.equal {
    display: flex;
    flex-wrap: wrap;
  }

/* whitepage */
.whitepage{
  width: 100%;
  height:auto;
  color:#606060;
  background: #fcfcfc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff,#fcfcfc ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff,#fcfcfc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff,#fcfcfc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff,#efcfcfc); /* Standard syntax */
}
.whitepage-1{
  width: 100%;
  height:auto;
  color:#606060;
  background: #fcfcfc;
}
.whitepage h1, .whitepage h2, .whitepage h3, .whitepage h4, .whitepage h5, .whitepage h6{ color:#172434; }
.whitepage h1{ font-weight:600; letter-spacing:2px;}
.whitepage h3{ line-height:normal;}
.whitepage .btn-content{ margin-top:20px; margin-bottom:0px;}
.whitepage em{ display:block; font-style:italic; margin-bottom:20px;}
.whitepage article{ padding:10px 60px 0 0;}

.paralax-page {
  position: relative;
  width: 100%;
  height: auto;
  min-height:450px;
  padding: 90px 0 90px 0;
  overflow-x: hidden;
  color: #fff;
}

/* preloader */
.preloader
    {
        position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 99999;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
                  background:#111111;
    }
.mainpreloader {
  position:relative;
  width:auto;
  height:auto;
}

.mainpreloader img{ display:block; margin:0 auto; z-index:999;}
.mainpreloader span{ display:block; font-size:8pt; text-transform:uppercase; letter-spacing:2px; text-align:center; margin:10px auto;}
.bg-preloader{ position:fixed; width:100%; height:100%; top:0px; left:0px; background:#0b0b0b; z-index:999;}

.logo-preloader{
  -webkit-animation: fadeimg 1s infinite linear;
  animation: fadeimg 1s infinite linear;
  }
@-webkit-keyframes fadeimg{
  0% {opacity:1;}
  50% {opacity:0;}
  100% {opacity:1;}
  }
@keyframes fadeimg{
  0% {opacity:1;}
  50% {opacity:0;}
  100% {opacity:1;}
  }
/* end preloader */

/******************** navigation *******************/
header{position:fixed; z-index:999;}
header.init{
  width:100%;
  height:120px;
  background: rgba(255, 255, 255, 0)!important;
  -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
  }
header.show{
  height:80px;
  background: rgba(255, 255, 255, 1)!important;
  box-shadow: 5px 5px 2px rgba(23, 36, 52, .05);
  -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
  }
  
/* subnav */
.subnav {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  font-size: 11px;
  color: #ddd;
  background: rgba(0,0,0,0);
  padding: 8px 0px 10px 0px;
}
.social-icons-subnav{ margin-left:-10px; }
.social-icons-subnav div{ display:inline-block; margin-right:5px;}
.right .social-icons-subnav{ margin-right:0px; }
.social-icons-subnav span {
  text-shadow: none;
  padding: 8px;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #f7d204!important;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.social-icons-subnav span:hover {
  color: #999;
  border-color: #eceff3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.social-icons-subnav a:hover {
  color: #999;
  border-color: #eceff3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* navigation */
.navbar-default {
  position:fixed;
  margin: 40px auto;
  top:0px;
  left:0px;
  color:#fff;
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px groove rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 2px rgba(23, 36, 52, .0);
   -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
  z-index:999;
}
.navbar-default {
  height: 80px;
}
.navbar-default.fullHeight {
  height: 100%!important;
}
.navbar-brand {
  z-index: 2;
}
.navbar-brand img {
  width:auto;
  height:auto;
  max-height: 44px!important;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* menu nav */
nav {
  position: relative;
  float:right;
  margin-right:0px;
  z-index: 999;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display:inline-block;
  margin-left:30px;
}
nav ul li {
  display: inline-block;
  margin: 0;
  margin-right:-4px;
}
nav a {
  display: block;
  padding: 10px 0px 10px 20px;
  color: #fff;
  font-size: 12pt;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 60px;
  text-decoration: none;
}
nav a:hover {
  color: #f7d204;
}
nav a:hover::before {
  display: inline-block;
  position: absolute;
  max-width: 35px;
  color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
nav a::before {
  position: absolute;
  overflow: hidden;
  max-width: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
  white-space: nowrap;
}
nav a.actived {
  color: #f7d204;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 80px;
  color: #efefef;
}
nav ul li:hover>ul {
  display: inherit;
  -webkit-animation-name: animfadeInUpmenu;
  animation-name: animfadeInUpmenu;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
nav ul ul li {
  width: 230px;
  float: none;
  text-transform:uppercase;
  margin-left: -25px;
  display: list-item;
  background: #111111;
  border-bottom: 1px groove rgba(255, 255, 255, .1);
  position: relative;
}
nav ul ul li a {
  font-size: 8pt;
  line-height: 20px;
  padding-left: 17px;
}
nav ul ul li a:hover {
  color: #fff;
  background: #f7d204!important;
}
nav ul ul li a.active {
  color: #fff;
  background: #ff6600;
}
nav ul ul li:last-child {
  border-bottom: none;
}
nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 225px;
}
li>a:after {
  content: '';
  margin-left: 20px;
}
li>a:only-child:after {
  content: '';
}
  
/* white */ 
.navbar-default-white {
  position:fixed;
  margin: 30px auto;
  top:0px;
  left:0px;
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px groove rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 2px rgba(23, 36, 52, .0);
   -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
  z-index:999;
}
.navbar-default-white {
  transform: translateZ(0); /* Scroll Fix in iPad */
  height:80px;
   -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
}
.navbar-default-white.fullHeight {
  height: 100%!important;
}
.navbar-brand.white {
  position: relative;
  top: 5px;
  left: 75px;
  z-index: 2;
}
.navbar-brand.white img {
  width:auto;
  height:auto;
  max-height: 44px!important;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.navbar-brand.white img.black { display:none; }
.navbar-default-white.sticky, .navbar-default.sticky{
  left: 0;
  right: 0;
  margin: 0 auto;
  width: inherit;
  box-sizing: border-box;
   -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
     -moz-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1);
}

.navbar-default-white.sticky .white nav a, .navbar-default.sticky nav {
  color: #707070;
}
.navbar-default-white.sticky .menu-line, .navbar-default-white.sticky .menu-line1, .navbar-default-white.sticky .menu-line2{background-color:#707070;}

/* menu nav */
.white nav {
  position: relative;
  float:right;
  margin-right:0px;
  z-index: 999;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.white nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display:inline-block;
  left: 75rem;
  top: 15px;
}

#nav-icon {
  position:relative;
  background: none;
  width: 20px;
  height: 25px;
  top:14px;
  right:50px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: width 0.3s cubic-bezier(.165, .84, .44, 1), opacity 0.3s cubic-bezier(.165, .84, .44, 1);
  transition: width 0.3s cubic-bezier(.165, .84, .44, 1), opacity 0.3s cubic-bezier(.165, .84, .44, 1);
  z-index:99999;
}
.menu-line {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0px;
  background-color:#fff;
}
.menu-line1 {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 5px;
  background-color:#fff;
}
.menu-line2 {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 10px;
  background-color:#fff;
}
.social-icons-subnav{ margin-right:15px;}
.social-icons-subnav span {
  color: #fff;  
  text-shadow: none;
  font-size:9pt;
  margin-right:8px;
  line-height:30px;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.social-icons-subnav span:hover {
  color: #999;
  border-color: #eceff3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.social-icons-subnav a {
  font-weight: 500;
  letter-spacing: .07em;
}
.social-icons-subnav a:hover {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#menu-block {
  width: 35%;
  height: 100vh;
  display: none;
  position:fixed;
  top:0px;
  right:0px;
  box-shadow: 3px 8px 12px rgba(0, 0, 0, .1);
  z-index:99999;
}
.blackpage-menu {
   background: rgba(11,11,11,.8);
}
.copy-right {
  display: block;
  position:absolute;
  bottom: 10px;
  right:10%;
  font-size: 9pt;
  font-weight: 400;
  letter-spacing: .03em;
  text-align: right;
  color:#fff;
}

#menu-block ul {
  margin: 0 auto;
  text-align:right;
}
#menu-block ul li {
  display: block;
  position: relative;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 22pt;
  letter-spacing:3px;
  font-weight: 600;
  line-height: 15pt;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#menu-block ul li:hover {
  color: #f7d204;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
#menu-block ul li a.actived {
  color: #bababa;
}
#menu-block ul li i{ font-size:40%; font-weight:600;}
#menu-block ul li ul li {
  font-size: 18pt;
  font-weight: 500;
  line-height: 15pt;
  margin-left:15px;
  color: #666;
  padding: 0;
  margin-top: 30px;
}
.dropdown-container {
  display: none;
}
.init-menu {
  left: 30px;
  opacity: 0;
  -webkit-transition: left 0.6s ease;
  -moz-transition: left 0.6s ease;
  -o-transition: left 0.6s ease;
  transition: left 0.6s ease;
}
.show-menu {
  left: 0px;
  opacity: 1;
  -webkit-transition: left 0.6s ease;
  -moz-transition: left 0.6s ease;
  -o-transition: left 0.6s ease;
  transition: left 0.6s ease;
}
.block-main {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position:fixed;
  background:rgba(0,0,0,0.6);
  display:none;
  z-index:9999;
}
.wrap-menu {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.wrap-menu-child{
  padding-right:0;
  padding-left:0;
  margin-right:-30%;
  }
.close-menu-block{
  position:absolute;
  top:20px;
  right:20px;
  color: #fff;  
  text-shadow: none;
  font-size:13pt;
  text-align: center;
  margin-right:5px;
  border-radius: 1px;
  cursor:pointer;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.close-menu-block span:hover {
  color: #999;
  border-color: #eceff3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/******************** navigation end *******************/

/* subheader */
#subheader {
  padding: 160px 0 110px 0;
}
#subheader h1 {
  color: #fefefe;
  margin-top: 40px;
  font-size: 32px;
  font-weight: 500; 
  text-align:center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#subheader .subdetail {
  font-size: 11px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-left:-35px;
  text-transform: uppercase;
  color: #777;
  text-align:center;
}
#subheader .subdetail li {
  display: inline-block;
  color: #fff;
}
#subheader .subdetail li a {
  color: #f7d204;
}
#subheader .subdetail li.sep {
  margin-right: 20px;
}
/* subheader end */



/* home */
#home{ position:relative; color:#fff; overflow:hidden;}
#home h1{ font-size:44pt; font-weight:600; letter-spacing:1px;}
#home h1.col-2{ font-size:31pt;}
#home h3{ font-size:36pt; font-weight:300; letter-spacing:1px;}
#home p{ font-weight:300; letter-spacing:1px;}
#home p.content{ width:590px;}
.main-text{ margin-bottom:30px;}
.overlay-main{
  position:absolute;
  width: 100%;
  height:100%;
  top:0px;
  left:0px;
}
.big{ font-size:90pt!important; font-weight:300!important; letter-spacing:8pt!important;}
.overlay-main-1{
  position:absolute;
  width: 100%;
  height:100%;
}
.blue-home {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 30px 0 20px 0;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  bottom: 30px;
  left: 0px;
}
.menuscroll {
  position: absolute;
  font-size: 7pt;
  bottom: 0px;
  right: 20px;
  letter-spacing: 4px;
  cursor: pointer;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}
.menuscroll:hover {
  color: #e3b546;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}


#tribute-title{
  float: left;
  margin-left: 10rem;
  margin-top: 4rem;
}

.tri-btn{
  font-size: 35pt;
  color: #f7d204;
  margin-top: 30rem;
  margin-left: 45rem;
  transition: width 2s, height 2s, transform 2s;
}

.tri-btn:hover{
  transform: scale(1,0.9);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div{
 float: right;
 margin-right: 10rem;
 margin-top: 5rem;
 transition: width 2s, height 2s, transform 2s;
}

#img-div:hover{
  transform: scale(0.9, 0.9);
}

#image{
  border:solid 5px rgba(210,105,30,.4);  
}

#img-caption figcaption{
  text-align: center;
  font-size: 15pt;
  padding: 0;
  margin:0;
  font-family: 'Dancing Script', cursive;
}

.p-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.p-img>a {
  display: block;
  position: relative;
}

.add-actions {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 90px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px 15px;
  position: absolute;
  transition: all 0.9s ease 0s;
  width: 100%;
}

.img-dec {
  display: block;
  height: 100%;
  width: 100%;
}

.img-dec a {
  display: block;
  height: 100%;
  width: 100%;
}

.img-dec {
  margin-bottom: 5px;
}

.img-dec:hover {
  color: #fff;
}

.img-dec{
  color: #f7d204 !important;
  font-size: 34px;
  margin-top: -45px;
  padding-top: 50%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

.spn {
  color: #ddd;
  font-size: 23px;
}

.img-box {
  overflow: hidden;

 }


.img-box:hover .add-actions {
  opacity: 1;
  bottom: 0;
}

.p-img>a::after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

.image{
  transition: width 2s, height 2s, transform 2s;

}

 .image:hover {
  transform: scale(0.9,0.9);
}


.filter{
  display: none;
}

/* footer */
.subfooter{
  width: 100%;
  background: #111111;
  color:#ebebeb;
  height: auto;
  box-shadow: 5px 5px 20px rgba(23, 36, 52, .8);
  font-weight: 400;
  text-align: left;
  line-height:inherit;
  padding: 120px 0 100px 0;
  margin: 0 auto;
}
.subfooter h3 {
  font-weight: 500;
  font-size: 13pt;
  letter-spacing:1px;
  margin-bottom:30px;
  margin-top:30px;
}

/* contact info */
.subfooter address span {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 270px;
  line-height:60px;
}
.subfooter address.inline span {
  display:block;
  font-size:13px;
  line-height:20px;
  margin-right:15px;
}
.subfooter address.inline-block{
  text-align:center;
  margin:0 auto;
}
.subfooter address.inline-block span {
  display:inline-block;
  font-size:13px;
  margin-right:15px;
  margin-top:50px;
  margin-bottom:30px;
}
.subfooter address span strong {
  font-weight: 500;
  display: inline-block;
}
.subfooter address span a {
  display: inline;
}
address span i{
  font-size:14pt;
  margin:0 15px 0 0;
  border:1px solid rgba(255,255,255,.3);
  padding:12px;
  -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  address.inline-block span i{
  width:60px;
  height:60px;
  line-height:30px;
  font-size:14pt;
  display:block;
  margin:20px auto;
  border:1px solid rgba(255,255,255,.3);
  -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  address span i:hover{
    border:1px solid #f7d204; 
    -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }
address.inline span i{
  font-size:12pt;
  margin:0 15px 0 0;
  border:0px solid rgba(255,255,255,0);
  padding:0px;
  }
/* contact info end */

footer.white {
  background: #0b0b0b;
  color:#ebebeb;
  font-size: 9pt;
  letter-spacing:.5px;
  font-weight: 300;
  padding: 20px 0 20px 0;
}
footer.black {
  background: #0b0b0b;
  color:#ebebeb;
  font-size: 9pt;
  letter-spacing:.5px;
  font-weight: 300;
  padding: 30px 0 30px 0;
}
footer.black .social-icons{ margin:15px 0 15px 0;}

/* social-icons */
.social-icons {
  display: block;
  margin: 0;
}
.social-icons span {
  text-shadow: none;
  padding: 0 25px 0 0;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 9pt;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.social-icons span:hover {
  color: #ffc128;
  border-color: #eceff3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* footer end */

/* totop */
#totop{
display:none;
width:35px; 
height:35px; 
background:#000;
line-height:35px;
position:fixed;
bottom:10px; 
right:10px;
text-align:center;
cursor:pointer;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

#totop:hover{
background:#f7d204; 
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

#totop span{font-size:9pt; font-weight:300; color:#fff; }
/* totop end */



/* general popup */
.white-popup-block{max-width:900px; margin: 20px auto; color:#333; background:#fefefe; padding:40px;}
.gray-popup-block{max-width:900px; margin: 0 auto; background:#22252f; padding:40px; text-align:center;}
.gray-popup-block h3{ font-size:34pt; font-weight:300; line-height:normal; letter-spacing:normal;}
.gray-popup-block p{ font-size:11pt; font-weight:300; line-height:normal; letter-spacing:normal;}

/* scroll onStep */
.onStep {
  opacity: 0;
  overflow-y:hidden!important;
}

/*queries*/
@media only screen and (max-width: 1024px) {
  nav ul li.space {
    display: none;
  }
  .overlay-main {
    top: 0px;
  }
  .navbar-toggle {
    display: block;
    position: fixed;
    right: 5px;
    top: 15px;
    z-index: 999;
  }
  .navbar-toggle:hover {
    border: 1px solid #999;
  }
  /*menu block*/
  .navbar-default {
    position: fixed;
    border-bottom: 1px groove rgba(255, 255, 255, 0);
    top: 0px;
  }
  .navbar-brand {
    position: fixed;
    left: 30px;
    top: 0px;
  }
  .sticky-nav .navbar-brand {
    position: fixed;
    top: 0px;
  }
  .sticky-nav {
    position: fixed;
    height: 70px;
    top: 0px;
    left: 0px;
  }
  .navbar-brand img {
    width: 90%;
  }
  #main-menu {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 120%;
    background: #111;
    z-index: 1;
    overflow-x: hidden;
  }
  .menu-init {
    opacity: 1;
    top: -70%;
  overflow: hidden;
    -webkit-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -moz-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -o-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  }
  .menu-show {
    opacity: 1;
    top: -40px;
  overflow: auto;
    -webkit-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -moz-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -o-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  }
  nav {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;
    float: none;
    left: -15px;
    top: 0px;
    z-index: 999;
  }
  nav ul li, nav ul li.btn {
    display: block;
    margin: 0 0 0 0;
    margin-right: 15px;
    text-align: left;
    background: rgba(0, 0, 0, 0);
  }
  nav ul li.btn {
    padding: 0px 0px 0px 0px;
    padding: 10px;
    margin-right: 15px;
  }
  nav ul li.btn:hover {
    color: #ff6600;
    background: rgba(0, 0, 0, 0);
  }
  nav ul li.btn a:hover {
    color: #ff6600;
  }
  nav a {
    display: block;
    padding: 10px;
    line-height: 30px;
  }
  nav ul ul {
    position: relative;
    top: 0px;
    margin-left: 15px;
  }
  nav ul ul li {
    background: rgba(21, 23, 29, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  nav ul ul ul li {
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  nav ul ul li a {
    line-height: 20px;
    font-weight: 300;
    font-size: 8pt;
  }
  /*menu block end*/
  
#nav-icon {
  position:fixed;
  top:35px;
  right:20px;
}
.menu-line, .menu-line1, .menu-line2  {
  background-color:#111!important;
}
#menu-block {
  width: 40%;
}
.navbar-brand.white img.black { display:block; }
.navbar-brand.white img.white { display:none; }

  /* menu block white */
  .navbar-default-white {
  position:fixed;
  margin: 0px auto;
    border-bottom: 0px groove rgba(255, 255, 255, 0);
    top: 0px;
  background: rgba(255, 255, 255, 1);
  }
  .navbar-brand.white {
  position:fixed;
    left: 10px;
    top: 10px;
  }
  .navbar-brand.white img {
    width: auto;
  height: auto;
  max-height:40px!important;
  }
  /*menu block white end*/
}

@media only screen and (max-width: 980px) {
#form-contact{
 margin-bottom:60px;
}
.right{ text-align:left; float:left; line-height:inherit; }
.social-icons{ display:none; margin-top:10px;}
img.box-icon-simple{ padding:30px 5px 0 5px;}
.text-right{ text-align:left;}
.milestone-counter{ margin-bottom:30px;}
}

@media only screen and (max-width: 800px) {
.box {
    height: auto !important;
  }
}

@media only screen and (max-width: 768px) {
#menu-block {
  width: 100%;
}
.image-container{ display:none;}
}

@media only screen and (max-width: 600px) {
.big{ font-size:65pt!important;}
.btn-slider{
width: 126px;
height: 26px;
font-size:7pt;
line-height:26px;
    }
}


@media(max-width:414px) { 
#home h1{ font-size:28pt;}
#home h3{ font-size:25pt; line-height:normal; margin-top:0px;}
#slidertext{ margin-bottom:10px;}
.p-30{ padding:10px;}
.p-60{ padding:20px;}
.p-90{ padding:30px!important;}
#menu-block ul li {
  font-size: 13pt;
  line-height: 5pt;
}
#menu-block ul li ul li {
  font-size: 13pt;
}
}

@media(max-width:991px){
  #tribute-title{ text-align: center; margin-top:-4rem;  margin-left:0;}
.tri-btn{display: none;}
#home h1{ font-size: 28pt;}
#home h3{ font-size: 18pt;}
#home h3 a span{ font-size: 27pt; }
#home h3 a em { font-size: 22pt; }
#img-div{display:none;}
#img-div-new{ margin-top:-15rem;  padding: 0; transform: scale(0.5, 0.5); }
#img-caption{display: none;}
.devider-heading{margin-top:-15rem;}
#tribute-info{margin-top:-5rem; }
}
